body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    background-color: white;
    color: #585858;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 5px;
    padding: 0;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}


/* Container */

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.no-scroll {
    overflow: hidden;
}


/* Page */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Main */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50%; 
  background-color: #eee;
}
